html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  color: #006d77 !important;
  text-decoration: none !important;
} */
a:link,
a:visited {
  display: inline-block;
  color: #006d77 !important;
  text-decoration: none !important;

  padding-bottom: 1px !important;
  transition: all 0.3s;
}

a:hover,
a:active {
  color: #000 !important;
}
* {
  box-sizing: border-box;
}
